<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/wwwroot/css/all.css">
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark shadow-sm navbar-dark" style="border-radius: 0.01rem;">
        <div class="container">
            <a class="navbar-brand" href="/" style="color: white;">
                Online-shop.
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav mr-auto">
                </ul>

                <!-- Right Side Of Navbar -->
                <ul class="navbar-nav ml-auto">
                    <a class="nav-link ml-3" style="color: white;" href="/">All products</a>
                    <a class="nav-link" style="color: white;" href="/Home/Categories">Categories</a>
                    @Html.Action("CartPartial", "Cart")
                </ul>
            </div>
        </div>
    </nav>
    <div class="mt-5">
        @RenderBody()
    </div>
    <hr class="container" />
    <footer class="text-center container">
        <p>&copy; @DateTime.Now.Year - All rights reserved</p>
    </footer>
    <script src="https://kit.fontawesome.com/44d005799f.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
